<h3>Simple calculator made with TDD.</h3>

<div id="calc-display">
    <p id="calc-display-value">: @currentDisplayValue</p>
</div>


<div id="buttons">
    <table>
        <tr>
            <td><button class="btn btn-primary" id="one" @onclick="() => PressNumberButton(1)">1</button></td>
            <td><button class="btn btn-primary" id="two" @onclick="() => PressNumberButton(2)">2</button></td>
            <td><button class="btn btn-primary" id="three" @onclick="() => PressNumberButton(3)">3</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" id="four" @onclick="() => PressNumberButton(4)">4</button></td>
            <td><button class="btn btn-primary" id="five" @onclick="() => PressNumberButton(5)">5</button></td>
            <td><button class="btn btn-primary" id="six" @onclick="() => PressNumberButton(6)">6</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" id="seven" @onclick="() => PressNumberButton(7)">7</button></td>
            <td><button class="btn btn-primary" id="eight" @onclick="() => PressNumberButton(8)">8</button></td>
            <td><button class="btn btn-primary" id="nine" @onclick="() => PressNumberButton(9)">9</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" id="zero" @onclick="() => PressNumberButton(0)">0</button></td>
            <td><button class="btn btn-primary" id="press-clear" @onclick=" ()=> Clear()">C</button></td>
            <td><button class="btn btn-primary" id="press-equals" @onclick=" ()=> PressEquals()">=</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" id="press-add" @onclick=" ()=> PressAdd()">+</button></td>
            <td><button class="btn btn-primary" id="press-subtract" @onclick=" ()=> PressSubtract()">-</button></td>
            <td><button class="btn btn-primary" id="press-multiply" @onclick=" ()=> PressMultiply()">*</button></td>
            <td><button class="btn btn-primary" id="press-divide" @onclick=" ()=> PressDivide()">/</button></td>
        </tr>

    </table>
</div>


@code {
    string currentDisplayValue = "0";
    int numberOne = 0;
    int numberTwo = 0;

    enum Operation
    {
        Add,
        Subtract,
        Multiply,
        Divide,
        Result,
        None
    }

    Operation operation = Operation.None;

    private void PressNumberButton(int number)
    {
        if (currentDisplayValue == "0" || !IsDisplayingNumber() || operation == Operation.Result)
        {
            currentDisplayValue = number.ToString();
        }
        else
        {
            currentDisplayValue += number.ToString();
        }
        operation = (operation == Operation.Result) ? Operation.None : operation;
    }

    private void PressAdd()
    {
        if (!IsDisplayingNumber()) { return; }
        numberOne = int.Parse(currentDisplayValue);
        operation = Operation.Add;
        currentDisplayValue = "+";
    }

    private void PressSubtract()
    {
        if (!IsDisplayingNumber()){ return; }
        numberOne = int.Parse(currentDisplayValue);
        operation = Operation.Subtract;
        currentDisplayValue = "-";
    }

    private void PressMultiply()
    {
        if (!IsDisplayingNumber()) { return; }
        numberOne = int.Parse(currentDisplayValue);
        operation = Operation.Multiply;
        currentDisplayValue = "*";
    }

    private void PressDivide()
    {
        if (!IsDisplayingNumber()) { return; }
        numberOne = int.Parse(currentDisplayValue);
        operation = Operation.Divide;
        currentDisplayValue = "/";
    }

    private void PressEquals()
    {
        if (!IsDisplayingNumber()) { return; }
        numberTwo = int.Parse(currentDisplayValue);

        DoOperation();
    }

    private void DoOperation()
    {
        switch (operation)
        {
            case Operation.Add:
                currentDisplayValue = Add(numberOne, numberTwo).ToString();
                break;
            case Operation.Subtract:
                currentDisplayValue = Subtract(numberOne, numberTwo).ToString();
                break;
            case Operation.Multiply:
                currentDisplayValue = Multiply(numberOne, numberTwo).ToString();
                break;
            case Operation.Divide:
                currentDisplayValue = Divide(numberOne, numberTwo);
                break;
            default:
                break;
        }

        numberOne = 0;
        numberTwo = 0;
        operation = Operation.Result;
    }

    private int Add(int num1, int num2)
    {
        return num1 + num2;
    }

    private int Subtract(int num1, int num2)
    {
        return num1 - num2;
    }

    private int Multiply(int num1, int num2)
    {
        return num1 * num2;
    }

    private string Divide(int num1, int num2)
    {
        if (num2 == 0)
            return "Cannot / by 0";
        return (num1 / num2).ToString();
    }

    private void Clear()
    {
        currentDisplayValue = "0";
        numberOne = 0;
        numberTwo = 0;
        operation = Operation.None;
    }

    private bool IsDisplayingNumber()
    {
        return int.TryParse(currentDisplayValue, out _);
    }
}
