<h3>Calculator</h3>

<div id="calc-display">
    <p id="calc-display-value">: @currentDisplayValue</p>
</div>


<div id="buttons">
    <table>
        <tr>
            <td><button class="btn btn-primary" id="one" @onclick="() => PressNumberButton(1)">1</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(2)">2</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(3)">3</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(4)">4</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(5)">5</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(6)">6</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(7)">7</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(8)">8</button></td>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(9)">9</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="() => PressNumberButton(0)">0</button></td>
            <td><button class="btn btn-primary" id="clear-display" @onclick=" ()=> ClearDisplay()">C</button></td>
        </tr>

    </table>
</div>


@code {
    string? currentDisplayValue = "0";

    private void PressNumberButton(int number)
    {
        if(currentDisplayValue == "0")
        {
            currentDisplayValue = number.ToString();
        }
        else
        {
            currentDisplayValue += number.ToString();
        }
    }

    private void ClearDisplay()
    {
        currentDisplayValue = "0";
    }
}
